/* reset styles */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*  *********** */

:root {
  /* colors and border radius */
  --very-dark-grayish-blue:hsl(217, 19%, 35%) ;
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --desaturated-darker-blue: hsl(214deg 16% 36%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --some-gray-shade: hsl(0,0%,53%);
  --main-white: rgb(255, 255, 255);
  --default-border-radius: 0.625rem;
  /* font size and styling  */
  --font-manrope: 'Manrope', sans-serif;
  --font-size: 0.8125rem;
  --font-size-medium: 0.8rem;
  --weight-medium: 500;
  --weight-bold: 700;
}

body {
  font-family: var(--font-manrope);
  padding: 2rem 0.5rem;
  font-size: var(--font-size);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grayish-blue);
}

.main {
  width: 20rem;
  background-color: var(--main-white);
  border-radius: var(--default-border-radius);
}

.sr-only{
   position:absolute;
   left:-10000px;
   top:auto;
   width:1px;
   height:1px;
   overflow:hidden;
}

a {
  text-decoration: none;
}

h1,
h2 {
  color: var(--very-dark-grayish-blue);
}

.main__drawer-img {
  max-width: 100%;
  height: auto;
  clip-path: inset(0 0 18% 0);
  border-radius: var(--default-border-radius);
  margin-bottom: -1rem;
}

.main__article-wrapper {
  padding: 0 2rem;
}

.main__heading {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: var(--weight-bold);
}

.main__desc {
  margin-bottom: 0.5rem;
}

.main__desc,
.main__footer-datetime {
  color: var(--desaturated-darker-blue);
}

.main__footer--wrapper {
  display: flex;
  flex-direction: column;
}

.main__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 0;
}

.main__footer-avatar {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 100%;
}

.main__footer-text {
  font-size: 0.6rem;
  /* requires testing */
  font-weight: var(--weight-bold);
}

.main__footer-datetime {
  font-weight: var(--weight-medium);
  font-size: var(--font-size-medium);
}

.main__footer-share-icon {
  background-color: var(--light-grayish-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width:40px;
  height: 40px;
  border: 0;
  z-index: 1;
}

.main__footer-share-icon:hover {
  cursor: pointer;
  border: 0.5px solid #000;
  transform: scale(1.1);
}

.main__footer-popup {
  background-color: var(--very-dark-grayish-blue);
  border-radius: 0 0 10px 10px;
  padding: 1.3rem 2rem;
  position: relative;
  margin-top: -5rem;
  align-items: center;
  display: none;
}

.main__footer-share-space {
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: var(--font-size-medium);
  font-weight: var(--weight-medium);
  color: var(--light-grayish-blue);
}

.main__footer-icons {
  margin-left: 1rem;
}

.main__footer-icon {
  margin-right: 1rem;
}

.main__article-custom .main__footer-avatar,
.main__article-custom .main__footer-text{
  visibility: hidden;
}

.main__article-custom .main__footer-popup{
  display: flex;
}

.main__article-custom .main__footer-share-icon{
  background-color: var(--some-gray-shade);
}

.main__article-custom .share_icon{
  mix-blend-mode: color-dodge;
}

@media(min-width:900px) {

  .main {
    width: 40rem;
    background-color: white;
    display: flex;
  }

  .main__article {
    border-radius: var(--default-border-radius);
    background-color: #fff;
    display: flex;
    position: relative;
  }

  .main__image {
    width: 100%;
    height: 100%;
    flex: 60%;
  }

  .main__drawer-img {
    /* reset clip-path in image */
    clip-path: inset(0 4rem 0 0);
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    border-radius: 0;
    position: relative;
    border-radius: var(--default-border-radius);
  }

  .main__article-wrapper {
    padding: 0;
    padding-top: 1rem;
    transform: translateX(-2rem);
    flex: 70%;
  }

  .main__heading {
    font-size: 1.2rem;
  }

  .main__desc {
    font-size: var(--font-size-medium);
    margin-bottom: 0.5rem;
  }

  .main__footer {
    position: relative;
  }

  .main__article-custom .main__footer-avatar,
  .main__article-custom .main__footer-text{
    visibility: visible;
  }

  .main__footer-text {
    margin-left: -6rem;
  }

  .main__footer-popup {
    bottom: 5rem;
    right: 0.8rem;
    position: absolute;
    transform: translate(30%, -20%);
    height: auto;
    text-align: center;
    display: flex;
    background: var(--very-dark-grayish-blue);
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    padding: 0.8rem;
    box-shadow: 0 0.5rem 0.5rem var(--light-grayish-blue);
    display: none;
  }

  .main__footer-popup:before {
    content: '';
    width: 1.125rem;
    height: 1.125rem;
    position: absolute;
    left: 50%;
    background: var(--very-dark-grayish-blue);
    bottom: -9px;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
  }

  .main__footer-link{
    padding: 0.5rem 0;
  }
}
